@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Roboto Arial;
    font-size: 15px;
}

/* MODAL */

.modalbase {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(234, 234, 234, 0.7);
}

.modal {
    width: 560px;
    border-radius: 3px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    background-color: #F8F9FA;
}

.modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #198754;
    padding: 6px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    user-select: none;
}

.modal .header > div {
    font-size: 17px;
}

.modal .img {
    width: 130px;
    height: 180px;
    background-color: #6C757D;
}

/* FORM */

input,
select {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
}

/* TABLE */

.thead {
    display: flex;
    background-color: #198754;
    user-select: none;
}

.thead > div {
    color: #F8F9FA;
    font-weight: 600;
    padding: 5px;
    flex: 1;
}

/* BUTTONS */

button {
    display: inline-block;
    min-width: 70px;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px;
}

.btn-primary {
    color: #ffffff;
    background-color: #0D6EFD;
}

.btn-secondary {
    color: #ffffff;
    background-color: #6C757D;
}

.btn-success {
    color: #ffffff;
    background-color: #198754;
}

.btn-danger {
    color: #ffffff;
    background-color: #DC3545;
}

.btn-warning {
    color: #ffffff;
    background-color: #FFC107;
}

.btn-light {
    color: #525252;;
    background-color: #F8F9FA;
    border: 1px solid #e0e0e0;
}

.btn-link {
    color: #525252;
    background-color: white;
}


/* BACKGROUND-COLORS */

.bg-prm { background-color: #0D6EFD; }
.bg-scd { background-color: #6C757D; }
.bg-suc { background-color: #198754; }
.bg-dgr { background-color: #DC3545; }
.bg-wrn { background-color: #FFC107; }
.bg-sky { background-color: #0DCAF0; }
.bg-lgt { background-color: #F8F9FA; }
.bg-drk { background-color: #212529; }
.bg-wht { background-color: #ffffff; }

/* WIDTHS */
.w800 { width: 800px; }
.w100 { width: 100%; }
.w150 { width: 150px; }

/* HEIGHTS */
.h500 { height: 500px; }
.min-h500 { min-height: 500px; }
.h215 { height: 215px; }

.profile {
    width: 160px;
    height: 225px;
    background-color: #6C757D;
}

/* FLEXBOX */
.flex { display: flex; }
.fjc-l { justify-content: left; }
.fjc-r { justify-content: right; }
.fjc-c { justify-content: center; }
.fjc-b { justify-content: space-between; }
.fjc-e { justify-content: space-evenly; }
.fl1 { flex: 1; }
.fl-dir { flex-direction: column; }
.faic { align-items: center; }

/* BORDERS */

.brd1 { border: 1px solid #e0e0e0; }

/* PADDINGS */

.pd5 { padding: 5px; }
.pd5-l { padding-left: 5px; }
.pd5-r { padding-right: 5px; }
.pd5-t { padding-top: 5px; }
.pd5-b { padding-bottom: 5px; }
.plr5 {
    padding-left: 5px;
    padding-right: 5px;
}
.ptb5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pd10 { padding: 10px; }
.pd10-l { padding-left: 10px; }
.pd10-r { padding-right: 10px; }
.pd10-t { padding-top: 10px; }
.pd10-b { padding-bottom: 10px; }
.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}
.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MARGINS */

.mg3-b { margin-bottom: 3px; }

.mg5 { margin: 5px; }
.mg5-l { margin-left: 5px; }
.mg5-r { margin-right: 5px; }
.mg5-t { margin-top: 5px; }
.mg5-b { margin-bottom: 5px; }
.mlr5 {
    margin-left: 5px;
    margin-right: 5px;
}
.mtb5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mg10 { margin: 10px; }
.mg10-l { margin-left: 10px; }
.mg10-r { margin-right: 10px; }
.mg10-t { margin-top: 10px; }
.mg10-b { margin-bottom: 10px; }
.mlr10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mg20 { margin: 20px; }
.mg20-r { margin-right: 20px; }
.mg20-b { margin-bottom: 20px; }
.mg20-t { margin-top: 20px; }
.mg20-l { margin-left: 20px; }
.mg30-t { margin-top: 30px; }
.mg30-r { margin-right: 30px; }
.mg50-t { margin-top: 50px; }

/* ROUND */

.circle50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* RADIUS */

.rad3 { border-radius: 3px; }

/* FONT WEIGHT */

.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }
.fw10 { font-weight: 1000; }

/* FONT SIZE */

.fs17 { font-size: 17px; }
.fs18 { font-size: 20px; }
.fs24 { font-size: 24px; }

/* FONT COLOR */

.fc-prm { color: #0D6EFD; }
.fc-scd { color: #6C757D; }
.fc-suc { color: #198754; }
.fc-dgr { color: #DC3545; }
.fc-wrn { color: #FFC107; }
.fc-sky { color: #0DCAF0; }
.fc-lgt { color: #F8F9FA; }
.fc-drk { color: #212529; }
.fc-wht { color: #ffffff; }

/* POSITION */

.pos-rel { position: relative; }
.pos-abs { position: absolute; }
.pos-fix { position: fixed; }
.pos-l0 { left: 0; }
.pos-r0 { right: 0; }
.pos-t0 { top: 0; }
.pos-b0 { bottom: 0; }
.pos-z2 { z-index: 2; }

/* SCROLLS */

.scr-y {
    overflow-y: scroll;
}





